
body{
    background-color: #111315;
}
*{
    box-sizing: border-box;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.d-none{
    display: none!important;
}
.options{
    display: flex;
}
.opt{
    padding:1rem;
    cursor: pointer;
}
.options > div{
    font-weight: bold;
}
.opt:nth-child(1){
    background-color: #00bf8f;
}
.opt:nth-child(2){
    background-color: #0386ba;
}
.mr-1{
    margin-right: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.titulo{
    display: flex;
    align-items: center;
}
.titulo h1{
   color: #e7dd6a;
}
.titulo img{
    width: 75px;
}
.sub-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-container{
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container label{
    font-weight: bold;
    display: block;
}
.input-container input{
    outline: none;
    background-color: #1f2124;
    border-radius: 0.4rem;
    border: none;
    color: white;
    height: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.radius-result{
    background-color: #ffffff17;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
}
.radius-result h3{
    font-size: 16px;
    color: rgb(255, 255, 255)
}
.radius-result span{
    font-weight: bold;
}
#valor-bruto{
    color: rgb(66, 211, 131);
}
#valor-liquido{
    color: rgb(94, 169, 240)
}
#valor-comissao{
    color: rgb(232, 241, 92);
}
.container-button{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container-value{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-value div{
    margin: 0.4rem;
}
.container-button > button{
    width: 8vw;
    height: 2rem;
    cursor: pointer;
    font-weight: bold;
}
.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

        
#com-parceria {
    width: 14em;
    height: 3em;
    background-image: linear-gradient(to right, #00bf8f 0%, #001510  51%, #00bf8f  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
  }

  #com-parceria:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
         
#sem-parceria {
    width: 14em;
    height: 3em;
    background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;

  }

  #sem-parceria:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.notPartner{
    color: red;
    font-weight: bold;
}
.isPartner{
    color: green;
    font-weight: bold;
}    
 
.options > input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;

  }